file.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="Library"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="Library"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <xsd:documentation></xsd:documentation>

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
      <xsd:element name="getDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="table" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="data" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="getDataRequest">
    <wsdl:part name="getDataRequest" type="xsd:getDataRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataResponse">
    <wsdl:part name="result" type="xsd:array"></wsdl:part>
  </wsdl:message>


  <wsdl:portType name="Library">
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataRequest" />
      <wsdl:output message="tns:getDataResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Library" type="tns:Library">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://localhost/ApiiSoap/server.php#getData" />
      <wsdl:input>
        <soap:body use="literal" namespace="Library" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="Library" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Library">
    <wsdl:port binding="tns:Library" name="BookLibrary">
      <soap:address location="http://localhost/ApiiSoap/server.php" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>