file.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="Library"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="Library"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <xsd:documentation></xsd:documentation>

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
    <xsd:element name="deleteDataRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="id" type="xsd:integer" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteDataResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="result" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
      <xsd:element name="getDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="table" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="data" type="xsd:array" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:integer" />
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="email" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="data" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="deleteDataRequest">
    <wsdl:part name="id" type="xsd:integer"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDataResponse">
    <wsdl:part name="result" type="xsd:string"></wsdl:part>
  </wsdl:message>


  <wsdl:message name="getDataRequest">
    <wsdl:part name="table" type="xsd:getDataRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataResponse">
    <wsdl:part name="result" type="xsd:array"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="insertDataRequest">
    <wsdl:part name="id" type="xsd:integer"></wsdl:part>
    <wsdl:part name="name" type="xsd:insertDataRequest"></wsdl:part>
     <wsdl:part name="email" type="xsd:insertDataRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertDataResponse">
    <wsdl:part name="result" type="xsd:string"></wsdl:part>
  </wsdl:message>

  <wsdl:portType name="Library">
    <wsdl:operation name="deleteData">
      <wsdl:input message="tns:deleteDataRequest" />
      <wsdl:output message="tns:deleteDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataRequest" />
      <wsdl:output message="tns:getDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <wsdl:input message="tns:insertDataRequest" />
      <wsdl:output message="tns:insertDataResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Library" type="tns:Library">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteData">
      <soap:operation soapAction="http://localhost/ApiiSoap/server.php#deleteData" />
      <wsdl:input>
        <soap:body use="literal" namespace="Library" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="Library" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://localhost/ApiiSoap/server.php#getData" />
      <wsdl:input>
        <soap:body use="literal" namespace="Library" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="Library" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertData">
      <soap:operation soapAction="http://localhost/ApiiSoap/server.php#insertData" />
      <wsdl:input>
        <soap:body use="literal" namespace="Library" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="Library" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Library">
    <wsdl:port binding="tns:Library" name="BookLibrary">
      <soap:address location="http://localhost/ApiiSoap/server.php" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>